<?xml version="1.0" encoding="UTF-8"?>
<!-- startDocument(): 문서가 시작 -->
<beans> <!-- startElement() -->
	<!-- 메모리 할당 Class.forName(clsName) id라는건 내가 찾을수 있는거면 됑 -->
	<!-- startElement() 속성을 읽고 endElement() -->
	<bean id="index" class="com.main.model.IndexModel"/>
	<!-- startElement() 속성을 읽고 endElement() -->
	<bean id="main" class="com.main.model.MainModel"/>
	<bean id="reserve" class="com.reserve.model.ReserveModel"/>
	<bean id="store" class="com.store.model.StoreModel"/>
	<bean id="menu" class="com.menu.model.MenuModel"/>
	<!--  회원 관련 -->
	<bean id="join" class="com.join.model.JoinModel"/>
	<bean id="join_ok" class="com.join.model.JoinOkModel"/>
	<bean id="member_join" class="com.member.model.MemberJoinModel"/>
	<bean id="login" class="com.member.model.MemberLoginModel"/>
	<bean id="logout" class="com.member.model.MemberLogoutModel"/>
	<bean id="idcheck" class="com.member.model.IdCheckModel"/>
	<bean id="postFind" class="com.member.model.PostFindModel"/>
	<!-- 추천게시판 -->
	<bean id="board_list" class="com.board.model.BoardListModel"/>
	<bean id="board_content" class="com.board.model.BoardContentModel"/>
	<bean id="board_insert" class="com.board.model.BoardInsertModel"/>
	<bean id="board_insert_ok" class="com.board.model.BoardInsertOkModel"/>
	<bean id="board_update" class="com.board.model.BoardUpdateModel"/>
	<bean id="board_update_ok" class="com.board.model.BoardUpdateOkModel"/>
	<bean id="board_delete" class="com.board.model.BoardDeleteModel"/>
	<bean id="board_like" class="com.board.model.BoardLikeModel"/>
</beans> <!-- endElement() -->
<!-- endDocument() : 문서가 종료 -->