<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!--
 	getConnection()
	disConnection()
 -->
<configuration>

	<properties resource="com/menu/dao/db.properties"/>
	<typeAliases>
		<typeAlias type="com.board.dao.ReplyBoardDTO" alias="Board"/>
		<typeAlias type="com.board.dao.ReplyDTO" alias="Reply"/>
		<typeAlias type="com.member.dao.MemberDTO" alias="Member"/>
		<typeAlias type="com.member.dao.ZipcodeDTO" alias="Zipcode"/>
		
		<typeAlias type="com.menu.dao.MenuDTO" alias="Menu"/>

	</typeAliases>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" value="${driver}"/>
				<property name="url" value="${url}"/>
				<property name="username" value="${username}"/>
				<property name="password" value="${password}"/>
			</dataSource>
		</environment>
	</environments>
	<mappers>
		
		<mapper resource="com/member/dao/member-mapper.xml"/>
		<mapper resource="com/board/dao/board-mapper.xml"/>
		<mapper resource="com/menu/dao/menu-mapper.xml"/>

	</mappers>
</configuration>