<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="com.menu.dao.menu-mapper">
   
    <select id="menuListData" resultType="Menu" parameterType="int">
      SELECT hno,hname,price,hname2 FROM menu WHERE tno=#{tno}
    </select>
    
 </mapper>
 